<h2>Tarefas Feitas</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/adm/todolist">Pendente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/adm/todolist/feitas">Feitas</a>
  </li>

</ul>

{{!-- vou listar as tarefas marcadas como concluidas --}}

{{#each tarefasFeitas}}

  <div class="card mt-4">
    <div class="card-body">
        <h4>{{nome}}</h4>
        <br>
        <small>{{comentario}}</small>
        <br><br>
        <small>data de criação: {{data}}</small>
        <br><br>
        <form method="post" action="/adm/todolist/delete">
          <input name="id" type="hidden" value="{{_id}}">
          <button type="submit" class="btn btn-primary mt4">Deletar</button>
        </form>

        {{!-- <form style="" class="mt-4" method="post" action="#">
        
          <input name="id" type="hidden" value="{{_id}}">
          <button type="submit" class="btn btn-primary mt4">Não Feito</button>
          

        </form> --}}
    </div>
  </div>
{{/each}}
