<h2>Time Control</h2>

<div class="container card">
    <form action="/adm/timecontrol/add/projeto" method="post">
        {{!-- titulo --}}
        <div class="input-group mt-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
        <input name="titulo" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        {{!-- Descrição do projeto --}}
        <div class="input-group mt-4">
        <span class="input-group-text">Descrição</span>
        <textarea name="descricao" class="form-control" aria-label="With textarea"></textarea>
        </div>

        {{!-- pessoal ou empresarial --}}
        <div class="form-check mt-4">
            <input name="projetopessoal" class="form-check-input" type="checkbox" value="Projeto Pessoal" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
                Projeto Pessoal
            </label>
        </div>
        
        <div class="form-check">
            <input name="projetoempresarial" class="form-check-input" type="checkbox" value="Projeto Empresarial" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
                Projeto Empresarial
            </label>
        </div>

        <div style="display: flex; justify-content: flex-end; margin-bottom:10px;" class="container ">

            <button type="submit" style="margin-left:10px" class="btn btn-primary">Criar Projeto</button>
        </div>
    </form>

    

</div>
{{#each projetos}}

  <div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <br>
        <small>{{descricao}}</small>
        <br><br>
        <small>Ultimo Check In: {{dataPlayExib}}</small>
        <br>
        <small>Ultimo Check Out: {{dataStopExib}}</small>
        <br><br>
        <small>Status: <strong>{{estado}}</strong></small>
        <br>
        <small>minutos trabalhados: <strong>{{tempo}}</strong></small>
        <br><br>


        <div style="display: flex; Align-items: center;">

            <form style="margin-left: 5px;" action="/adm/timecontrol/play" method="post">
                <input name="id" type="hidden" value="{{_id}}">
                <button type="submit" class="btn btn-success">Play</button>
            </form>

            <form style="margin-left: 5px;" action="/adm/timecontrol/stop" method="post">
                <input name="id" type="hidden" value="{{_id}}">
                <button type="submit" class="btn btn-danger">Stop</button>
            </form>
        </div>


        

        <form style="display: flex; justify-content: flex-end" action="/adm/timecontrol/editar" method="post">
            <input type="hidden" name="id" value="{{_id}}">
            
            <button type="submit" class="btn btn-primary mt4">Editar Projeto</button>
        </form>
    </div>
  </div>


{{/each}}

